
/* Styling form and resume sections */

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color:white
}



form {
    margin: auto;
    background-color: rgb(211, 199, 199);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(61, 28, 28, 0.5);
    padding: 25px;
    max-width: 550px;
}

h1 {
    text-align: center;
    color: black;
}

fieldset {
    border: 2px solid rgb(24, 45, 54);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(229, 222, 222);
}

legend {
    font-weight: bold;
    text-align: left;
    color: rgb(34, 29, 29);
}
label {
    display: block;
    margin-top: 13px;
    color: black;

}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid skyblue;
    border-radius: 6px;
    box-sizing: border-box;
}


button {
    display: block;
    width: 100%;
    background-color: rgb(174, 166, 166);
    color: black;
    border: none;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

button :hover {
    color: rgb(175, 143, 175)
}



#resume-display {
    max-width: 550px;
    margin: auto;
    padding: 20px;
    border: 2px solid ;
    border-radius: 8px;
    background-color:  rgb(229, 222, 222);
    box-shadow: 0 4px 8px rgba(127, 110, 110, 0.5);
    /*making resume editabale*/
    outline: none;
}

#resume-display h2 {
    color: black;
}



